@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
body {
  background-color: #f1f1f1;
}

.banner-container {
  background-image: linear-gradient(rgba(69, 69, 69, 0.6), rgba(76, 75, 75, 0.75)), url("./assets/banner.jpg");    
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  margin-bottom: 50px;
}

.banner-container .title-container {
  /* background-color: red; */
  margin-left: 60px;
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
}

.banner-container  .title-container h1 {
  color: #fff;
  font-size: 3rem;
}
.banner-container  .title-container p {
  color: #fff;
  font-size: 1.2rem;
  text-align: start;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
}

.btn {
  /* margin-top: 10px; */
  cursor: pointer;
  border-radius: 20px;
  width: 150px;
  height: 45px;
  font-size: 1rem;
  background-color: #3333CC;
  border: 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 5px;
}

.cleaner-item-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  /* background-color: red; */
}

.cleaner-item-container .item i {
  font-size: 2rem;
  margin-bottom: 30px;
}

.cleaner-item-container .item {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 17vw;
  height: 40vh;
}

.cleaner-item-container .item:hover {
  color: #fff;
  background-color: #3333CC;
  transition: 0.5s;
}

.title-middle-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title-middle-container p {
  margin: 20px;
  text-align: center;
}

.title-middle-container .line-title {
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.title-middle-container .line-title .line-title {
  background-color: black;
  height: 20px;
  margin: -20px;

} 

.footer-container {

  background-color: #3333CC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.address-container {
  background-color: #3333CC;
  height: 10vh;
}
.address-row {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}

.address-row a {
  margin-left: 50px;
  text-decoration: none;
  color: #111;
  font-size: 1rem;
}
.address-row button {
  text-align: center;
  margin-left: 50px;
}

.address-row a:hover {
  color: #3333CC;
}

.card-row-container {
  margin: 20px;
  margin-bottom: 20px;
  display: flex;
  background-color: red;
  border-radius: 30px;
  margin-top: 30px;
  justify-content: space-around;
}

.card-row {
  gap: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-row img {
  object-fit: cover;
  border-radius: 20px;
}

.card-row .row-title {
  width: 50vw;
  /* background-color: green; */
  text-align: center;
}

.card-row .row-title h1 {
  font-size: 2.5rem;
}

.card-row .row-title p {
  font-size: 1.5rem;
}

.isReversed  {
  display: flex;
  flex-direction: row-reverse;
}