@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}

.banner-container {
  background-image: linear-gradient(rgba(69, 69, 69, 0.6), rgba(76, 75, 75, 0.75)), url("./assets/banner.jpg");    
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  margin-bottom: 50px;
}

.banner-container .title-container {
  /* background-color: red; */
  margin-left: 50px;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
}

.banner-container  .title-container h1 {
  color: #fff;
  font-size: 3rem;
  text-align: justify;
}
.banner-container  .title-container p {
  color: #fff;
  font-size: 1rem;
  text-align: start;
  font-weight: 500;
  margin-left: 10px;
  
}

.banner-container  .title-container button {
  margin-top: 10px;
  border-radius: 20px;
  width: 110px;
  height: 40px;
  font-size: 1rem;
  background-color: #3333CC;
  border: 0;
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  
}

.cleaner-item-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  /* background-color: red; */
}

.cleaner-item-container .item i {
  font-size: 2rem;
  margin-bottom: 30px;
}

.cleaner-item-container .item {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 17vw;
  height: 40vh;
}

.cleaner-item-container .item:hover {
  color: #fff;
  background-color: #3333CC;
}

.title-middle-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title-middle-container p {
  margin: 20px;
  text-align: center;
}

.title-middle-container .line-title {
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.title-middle-container .line-title .line-title {
  background-color: black;
  height: 20px;
  margin: -20px;

} 

.footer-container {

  background-color: #3333CC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}